/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 7, 2017, 4:40:36 PM
    Author     : Usman
*/

.root{
    -fx-font-family: "Courier New";
}

.dialog_pane {
    -fx-padding:15;
}
.titles{
    -fx-font-size: 16px;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-background-color: bisque;
    -fx-color: red;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.plain_pane{
    
}

.bordered_pane {
    -fx-background-color: #FFECD7;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #DCDBDA;
}

.header_pane{
    -fx-background-color:#FFECD7;
}

.header_label {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.ta_table{
    -fx-font-size:16pt;
    -fx-background-color:#FFECD7;
}
.ta_table_column_header{
    
}
.projs{
    -fx-padding: 10 10 10 10;
    -fx-background-color: #FFD8AD;
}

.projs1{
    -fx-padding: 10 10 10 10;
    
    -fx-background-color: #EBEBEB;
}

.projs2{
    -fx-padding: 10 10 10 10;
    -fx-background-color: #EBEBEB;
    
}
.table-view .column-header.ta_table_column_header .label {
    -fx-text-fill:black;
    
}

.add_ta_pane{
    -fx-padding: 5 10 5 10;
}

.add_ta_text_field{
    -fx-font-size: 14pt;
}

.add_ta_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.update_ta_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.clear_ta_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.change_time_button{
    fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}
.office_hours_grid{
    
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color:#000066;
    -fx-border: 1px;    
}

.office_hours_grid_time_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_day_column_header_pane{
    -fx-background-color:grey;
    -fx-border: 1px;
    -fx-border-color: #000066;
}

.office_hours_grid_day_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.timebox_style{
    -fx-alignment: center-right;
    -fx-alignment-maxHeight: Infinity;
    -fx-alignment-maxWidth: Infinity;
    
}

.office_hours_grid_time_cell_pane{
    -fx-background-color:#000099; 
    -fx-border: 1px;   
    -fx-border-color:darkgray;
    -fx-border-style:dashed;
}

.office_hours_grid_time_cell_label{
    -fx-font-size:14pt;
    -fx-text-fill:white;
}

.office_hours_grid_ta_cell_pane{
    -fx-background-color:#abab78;
    -fx-border: 1px;
    -fx-border-color: black;
}

.office_hours_grid_ta_cell_label{
    -fx-font-weight:bold;
    -fx-font-size:12pt;  
    -fx-padding: 5 10 5 10;
}

.highlighted_grid_cell {
    -fx-border-color: #ffff00;
    -fx-border: 5px;
}

.highlighted_grid_row_or_column {
    -fx-border-color: #aaaa00;
    -fx-border: 5px;
    -fx-border-style:solid;
}

.rec{
    -fx-font-size: 30pt;
}

.plain_pane{
    -fx-background-color: #FFFFFF;
}
.workspace{
    -fx-background-color: #FFECD7;
}

.couP1{
    -fx-padding: 10 20 10 20;
    -fx-background-color: #EBEBEB;
}

.couV1{
    
    -fx-padding: 10 10 10 10;
    -fx-background-color: #FFD8AD;
}

.couV2{
    -fx-padding: 10 10 10 20  ;
    -fx-background-color: #EBEBEB;
}

.couV2b{
    -fx-padding: 0 10 0 10;
    -fx-background-color: #FFD8AD;
}

.couV3b{
    -fx-padding: 10 10 10 10;
    -fx-background-color: #FFD8AD;
}

.couV3{
    -fx-padding: 10 10 10 20;
    -fx-background-color: #EBEBEB;
}
.couVOG{
    -fx-padding: 0 10 0 5;
    -fx-background-color: #FFECD7;
}
.recP1{
    -fx-padding: 10 10 10 10;
    -fx-background-color: #EBEBEB;
}
.recP1b{
    -fx-padding:0 10 200 10;
    
}
.recTableBox{
    -fx-padding: 10 10 10 10;
    
}
.recBoxb{
    -fx-padding: 0 10 0 5;
    -fx-background-color: #FFECD7;
}
.recBox{
    -fx-background-color: #FFD8AD;
}
.sched{
    -fx-padding: 10 10 10 10;
    -fx-background-color: #FFECD7;
}
.schedItemsb{
    -fx-background-color: #EBEBEB;
    -fx-padding: 10 10 75 10;
}
.calDatesb{
    -fx-background-color: #EBEBEB;
    -fx-padding: 10 10 10 10;
}
.schedb{
    -fx-background-color: #FFD8AD;
    -fx-padding: 10 10 150 10;
}
.schedbb{
    -fx-padding: 0 10 10 7;
    -fx-background-color: #FFECD7;
}
.tabs{
    -fx-padding: 10 0 10 4;
    -fx-tab-min-width:360px;
}

.tabs>*.tab-header-area>*.tab-header-background{
    -fx-background-color: FFECD7;
}